
@{
    ViewData["Title"] = "SaveCard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Ecommerce.Modelos.Carrito
<h1>AddCar</h1>



<div class="container" style="margin-top:40px">

    <div class="row">

        <div class="col-3">Nombre</div>
        <div class="col-3">Descripion</div>
        <div class="col-3">Precio</div>
        <div class="col-3">Cantidad</div>

        @foreach (var item in Model.productos)
        {
            <div class="col-3">@item.nombre</div>
            <div class="col-3">@item.descripcion</div>
            <div class="col-3">@item.precio</div>
            <div class="col-3">1</div>


        }




    </div>
    <div class="row">

        <div class="col-10">@Model.Total()</div>
    </div>

     

</div>
